html,
body {
  box-sizing: border-box;
  height: 100%; }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

body {
  font-family: Roboto, Helvetica, Arial Narrow, sans-serif;
  font-weight: 300;
  font-size: 18px; }

a {
  color: #196FB1;
  text-decoration: none;
  border-bottom: 1px solid; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: grey;
  color: white;
  height: 100px;
  width: 100%;
  line-height: 50px;
  font-family: Roboto, Helvetica, Arial Narrow, sans-serif; }
  @media all and (min-width: 675px) {
    .header {
      height: 50px; } }

.header__name {
  font-size: 1.5rem;
  padding-left: 15px; }
  @media all and (min-width: 675px) {
    .header__name {
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 25px; } }

.header__contact {
  font-size: 0.8rem;
  padding-right: 15px;
  position: absolute;
  right: 0; }
  @media all and (max-width: 675px) {
    .header__contact:nth-child(even) {
      top: 0.25rem; } }
  .header__contact > a {
    color: inherit;
    border-bottom: none; }
  @media all and (min-width: 675px) {
    .header__contact {
      padding-left: 10px;
      padding-right: 0;
      position: relative;
      display: inline-block; } }
  .header__contact:nth-child(even) {
    margin-left: 190px; }

.header__nav {
  font-size: 1.3rem;
  list-style: none; }
  @media all and (min-width: 675px) {
    .header__nav {
      position: absolute;
      right: 0;
      top: 0; } }

.header__nav li {
  display: inline-block;
  position: relative;
  padding-left: 15px; }
  .header__nav li > a {
    border-bottom: none;
    color: inherit;
    cursor: pointer; }
    .header__nav li > a:hover {
      color: #196FB1; }
  @media all and (min-width: 675px) {
    .header__nav li {
      padding-right: 25px; } }

.footer {
  position: relative;
  color: #A3B3BE;
  height: 50px;
  line-height: 50px; }

.footer__nav {
  font-size: 1.3rem;
  list-style: none;
  margin: 5px auto;
  width: 200px; }

.footer__nav li {
  display: inline-block;
  position: relative;
  padding-left: 15px; }
  .footer__nav li > a {
    border-bottom: none;
    color: inherit;
    cursor: pointer; }
    .footer__nav li > a:hover {
      color: #196FB1; }
  @media all and (min-width: 675px) {
    .footer__nav li {
      padding-right: 25px; } }

.main {
  color: #4D4D4D;
  position: relative;
  padding: 10px 15px;
  margin-top: 100px; }
  @media all and (min-width: 675px) {
    .main {
      padding: 10px 25px; } }

.section__work,
.section__about,
.section__skills {
  display: block;
  position: relative;
  padding-bottom: 15px; }

.section__title {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 15px 0; }
  @media all and (min-width: 675px) {
    .section__title {
      font-size: 2rem; } }

.section__subtitle {
  padding-bottom: 15px;
  line-height: 1.5rem; }

.section__itemContainer {
  font-size: 0; }

.section__item {
  font-size: 1rem;
  display: block;
  height: 4rem;
  padding-left: 25px; }
  @media all and (min-width: 675px) {
    .section__item {
      display: inline-block;
      padding: 15px 25px;
      vertical-align: top;
      width: 50%; } }
  @media all and (min-width: 1150px) {
    .section__item {
      width: 25%;
      height: 3rem; } }

.section__divider {
  background-image: -webkit-linear-gradient(right, transparent, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35), transparent);
  background-image: -moz-linear-gradient(right, transparent, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35), transparent);
  background-image: -o-linear-gradient(right, transparent, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35), transparent);
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.35), transparent);
  width: 100%;
  height: 1px;
  margin: 100px auto; }

.skills {
  list-style: none; }

.skills li {
  font-size: 0.8rem;
  display: inline-block;
  padding-right: 10px; }
  .skills li:last-child {
    padding-right: 0; }

.work__item {
  font-size: 1rem;
  display: block;
  min-height: 100px; }
  .work__item:first-child {
    margin-bottom: 60px; }
  .work__item:last-child {
    margin-top: 56px; }
  @media all and (min-width: 675px) {
    .work__item {
      display: inline-block;
      vertical-align: top;
      width: 33.33333%; }
      .work__item:first-child {
        margin-bottom: 0;
        padding-right: 10px; }
      .work__item:last-child {
        margin-top: 0;
        padding-left: 10px; }
      .work__item:nth-child(even) {
        padding-left: 15px;
        padding-right: 15px; } }

.work__preview {
  overflow: hidden;
  height: 200px;
  background-color: #FFF;
  opacity: 0.5;
  transition: opacity 800ms ease; }

.work__item:hover .work__preview {
  background-color: inherit;
  opacity: 1; }

.work__preview img {
  width: 100%; }
  @media all and (min-width: 675px) {
    .work__preview img {
      height: 100%;
      width: auto; } }

.work__name {
  font-weight: 300;
  margin: 10px 0 5px; }

.work__description {
  font-size: 0.8rem; }
  @media all and (min-width: 675px) {
    .work__description {
      height: 3rem; } }
  @media all and (min-width: 925px) {
    .work__description {
      height: 2rem; } }

.work__links {
  font-size: 0.8rem; }

.work__linksSpace {
  display: inline-block;
  width: 30px; }

/*# sourceMappingURL=app.css.map */
