.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: grey;
  color: white;
  height: 100px;
  width: 100%;
  line-height: 50px;
  font-family: $primary-font;
  @media all and (min-width: $break-s) {
    height: 50px;
  }
}
.header__name {
  font-size: 1.5rem;
  padding-left: 15px;
  @media all and (min-width: $break-s) {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 25px;
  }
}
.header__contact {
  font-size: 0.8rem;
  padding-right: 15px;
  position: absolute;
  right: 0;
  &:nth-child(even) {
    @media all and (max-width: $break-s) {
      top: 0.25rem;
    }
  }
  > a {color: inherit; border-bottom: none;}
  @media all and (min-width: $break-s) {
    padding-left: 10px;
    padding-right: 0;
    position: relative;
    display: inline-block;
  }
  &:nth-child(even) {
    margin-left: 190px;
  }
}
.header__nav {
  font-size: 1.3rem;
  list-style: none;
  @media all and (min-width: $break-s) {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.header__nav li {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  > a {
    border-bottom: none;
    color: inherit;
    cursor: pointer;
    &:hover {
      color: $blue-light;
    }
  }
  @media all and (min-width: $break-s) {
    padding-right: 25px;
  }
}
